<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Update Driver Statuses</h1>
      </div>
      <div class="panel-body">
        <p>Enter the new status and batch update the selected drivers.</p>
        <input type="text" class="form-control" ng-model="updatedStatus">
      </div>
      <div class="panel-footer">
        <batch-operation status="updatedStatus" drivers="data"></batch-operation>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Update Driver Devices</h1>
      </div>
      <div class="panel-body">
        <div class="dropdown">
          <!-- <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose Device</button>
          <ul class="dropdown-menu">
            <li ng-repeat="device in devices" ng-click="dropdownDeviceSelected(device.name)">{{device.name}}</li>
          </ul> -->
          <label for="deviceDropdownUpdate"> Select Device </label><br>
          <select ng-init="deviceDropdownUpdate = devices[0]" ng-model="deviceDropdownUpdate" name="device" ng-options="device.name for device in devices">
          </select>
        </div>
      </div>
      <div class="panel-footer">
          <batch-device device="deviceDropdownUpdate.name" drivers="data"></batch-device>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Add a new Driver</h1>
      </div>
      <div class="panel-body">
        <p>Enter the information for the new driver.</p>
        <div class="row form-group">
          <span class="col-sm-2"><label class="newDriverLabel" for="driver">Name: </label></span>
          <span class="col-sm-10"><input class="form-control" type="text" name="driver" ng-model="newDriver.name"></span>
        </div>
        <div class="row form-group">
          <span class="col-sm-2"><label class="newDriverLabel" for="status">Status: </label></span>
          <span class="col-sm-10"><input class="form-control" type="text" name="status" ng-model="newDriver.status"></span>
        </div>
        <!-- <ul class="dropdown-menu">
          <li ng-repeat="device in devices" ng-click="dropdownDeviceSelected(device.name)">{{device.name}}</li>
        </ul> -->
        <label for="deviceDropdownAdd"> Select Device </label><br>
        <select ng-init="deviceDropdownAdd = devices[0]" ng-model="deviceDropdownAdd" name="device" ng-options="device.name for device in devices">
        </select>
      </div>
      <div class="panel-footer">
        <button ng-click="addDriver(newDriver)" class="btn btn-success">ADD DRIVER</button>
      </div>
    </div>
  </div>
</div>

<batch-delete drivers="data" table="tableParams"></batch-delete>

<div class="row">
  <div class="col-sm-12">
    <table ng-table="tableParams" show-filter="false" class="table table-bordered table-striped">
         <tr ng-repeat="driver in $data">
             <td width="30" style="text-align: left" header="'ng-table/headers/checkbox.html'">
                 <input type="checkbox" ng-model="checkboxes.items[driver.id]" ng-click="toggleDriver(driver)" />
             </td>
             <td data-title="'Name'">
                 {{driver.name}}
             </td>
             <td data-title="'Device'">
                 {{driver.device}}
             </td>
             <td data-title="'Status'">
                 {{driver.status}}
             </td>
         </tr>
    </table>
    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
      <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
    </script>
  </div>
</div>
